<%= form_for @event do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :event_time %><br />
      <%= f.text_field :event_time , :class => "datepicker" %>
    </p>
    <p><%= f.submit "Submit" %></p>
<% end %>